<div class="main-top">
  <h1>Owners</h1>
  <%= link_to admins_new_user_path(:role => "owner") do %>
    <i class="fas fa-user-plus"></i>
  <% end %>
</div>
<div class="users">
  <% unless @owners.nil? || @owners.count <= 1 %>
    <% @owners.each do |owner| %>
      <div class="card">
        <%= image_tag('profile.png') %>
        <h4><%= owner.name %></h4>
        <p><%= owner.role %></p>
        <%= link_to 'Update', edit_user_path(owner)%>
        <%= button_to 'Delete', admins_destroy_path(owner), method: :delete%>
      </div>
    <% end %>
  <% end %>
</div>