<section class="main">
  <div class="main-top">
    <h1>Admins</h1>
    <%= link_to new_user_registration_path,style: "margin_left:550px", :role => "admin" do %>
      <i class="fas fa-user-plus"></i>
    <% end %>
  </div>
  <div class="users">
    <% unless @admins.nil? || @admins.count <= 1 %>
      <% @admins.each do |admin| %>
        <div class="card">
        <%= image_tag('profile.png') %>
        <h4><%= admin.name %></h4>
        <p><%= admin.role %></p>
        <div class="per">
          <table>
            <tr>
              <td><span>85%</span></td>
              <td><span>87%</span></td>
            </tr>
            <tr>
              <td>Month</td>
              <td>Year</td>
            </tr>
          </table>
        </div>
        <button>Profile</button>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="main-top">
    <h1>Owners</h1>
    <%= link_to new_user_registration_path, :role => "owner" do %>
      <i class="fas fa-user-plus"></i>
    <% end %>
  </div>
  <div class="users">
    <% unless @owners.nil? || @owners.count <= 1 %>
    <% @owners.each do |owner| %>
    <div class="card">
      <%= image_tag('profile.png') %>
      <h4><%= owner.name %></h4>
      <p><%= owner.role %></p>
      <div class="per">
        <table>
          <tr>
            <td><span>85%</span></td>
            <td><span>87%</span></td>
          </tr>
          <tr>
            <td>Month</td>
            <td>Year</td>
          </tr>
        </table>
      </div>
      <button>Profile</button>
    </div>
      <% end %>
    <% end %>
  </div>

  <div class="main-top">
    <h1>Costumers</h1>
    <%= link_to new_user_registration_path, :role => "costumer" do %>
      <i class="fas fa-user-plus"></i>
    <% end %>
  </div>
  <div class="users">
    <% unless @costumers.nil? || @costumers.count <= 1 %>
    <% @costumers.each do |costumer| %>
      <div class="card">
      <%= image_tag('profile.png') %>
      <h4><%= costumer.name %></h4>
      <p><%= costumer.role %></p>
      <div class="per">
        <table>
          <tr>
            <td><span>85%</span></td>
            <td><span>87%</span></td>
          </tr>
          <tr>
            <td>Month</td>
            <td>Year</td>
          </tr>
        </table>
      </div>
      <button>Profile</button>
    </div>
    <% end %>
    <% end %>
  </div>
</section>
