<section class="attendance">
  <div class="attendance-list">
    <h1>My Products</h1>
    <%= link_to "Create Product", new_product_path, style: "color: #0D98BA" %>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Production Date</th>
        <th>Expiry Date</th>
        <th>Stock Quantity</th>
        <th>Store Name</th>
      </tr>
      </thead>
      <tbody>
      <% index = 0 %>
      <% @products.each do |product|%>
      <% puts product.class,'================================' %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.production_dste %></td>
        <td><%= product.expiry_date %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= product.store.name %></td>
      </tr>
      <% index += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>